#how_it_works, #faq{
  .img-container{
    padding: 0;
    margin-right:0;
  }
  h3{
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:3em;
  }
  p.excerpt{
    font-size: 1.1em;
    margin: 2em 0;
  }
}

#how_works_action{
  text-align: center;
  padding-top: 10vh ;
  background-image:url('../images/how_works_action.jpg');
  background-size:cover;
  background-position: 50% 75%;
  // margin-top: 0;
  color:#000;

  .action-container{
    background-color: rgba(135, 36, 205, .5);
    padding:10vh 0 15vh;

    a{
      &, &:hover{
        background-color:#8724CD;
        text-decoration:none;
        padding:0 3em;
        height:3em;
        line-height: 3em;
        display:inline-block;
        border-radius: 1.5em;
        margin-bottom: 1em;

      }
      .meta-info{
        font-size: .7em;
      }
    }
  }

}